/*body {
	background-color: rgb(248, 247, 247);
}*/
#formulario, #buttons, #listas{
	width: 18em;
	height: 100%;
	float: left;
	padding:0.8em;
	border-radius:0.8em;
	border: thin solid grey;
	margin:1em;
    background-color:#ccc;
    
}

main {
	display: table;
}

label , p{
	font-weight: bold;
}

.error{
	color: red;
	font-size: 0.8em;
	font-weight: normal;
}

.borrar:hover{
	background-color: rgba(247, 27, 27, 0.753);
}

#radio{
	display:inline-flex;
	margin-bottom: 1.3em;
}

#formulario input[type="text"]{
	padding:0.3em;
	border: none;
	border-radius:0.2em;
	background-color:#f6f6f6;
	margin:0.6em 0;
	display:inline-block;
}

button {
	padding:0.8em 1.6em;
	margin-top:32px;
	border: none;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

button:hover{
	cursor:pointer;
	background-color: green;
}

#formulario label {
	display:block;
}

h1, h2 {
	background-color: rgb(248, 247, 247);
	color: black;
}

@media screen and (max-width: 630px) {
	
	body{
		font-size: 2em;
		display: block;
	}

	h1, h2{
		font-size: 80%;
	}

}